.list-container {
	margin-bottom: 20;
}
	.list-item {
		margin: 0;
		padding: 0 15;
	}
		.list-icon {
			height: 25;
			width: 25;
		}
		.list-lbl {
			font-size: 20;
			font-weight: 100;
			margin: 5;
		}
		.list-lbl1 {
			font-size: 20;
			font-weight: 100;
			margin-left: 0;
			width: 65%;
		}
		Switch {
			color: #00aaea;
			background-color: rgba(0, 170, 234, .3);
			horizontal-align: right;
		}
.logout-btn {
	background-color: #00a9ec;
	margin: 0;
	width: 100%;
	color: #fff;
	border-radius: 0;
}