.modal-content{
	/*background-color: rgba(225, 232, 232, .7);*/
	background-color: #fff;
}
	.close-lyout {
		background-color: transparent;
		height: 55
	}
		.close-icon {
			height: 20;
			width: 20;
			horizontal-align: right;
			vertical-align: top;
			margin: 20;
		}
		.img { margin-bottom: 10; }
		.description-lbl { font-size: 15; }
