.modal-action-bar {
		width: 100%;
		height: 50;
	}
		.title-action-bar { font-size: 20; }
		.close-icon { 
			/*font-size: 30%;*/
			width: 25;
			height: 25;
		}

		.shipment-history-title { font-size: 20% }
		.shipment-history-lbl { font-size: 15% }
		ListView { height: 100%; }