.action-bar {
	height: 50;
	width: 100%;
	padding: 5;
}
	.close-icon {
		height: 25;
		width: 25;
		margin-left: 10;
	}
.page {
	background-color: #fafafc;
}
	.lbl-1 {
		font-size: 23%;
	}
	.lbl-2 {
		font-size: 17%;
		width: 70%;
	}
	TextField {
		width: 80%;
		height: 70;
		border-color: #fff;
		background-color: #fff;
		padding: 20;
		color: #222222;
		margin-bottom: 20;
	}
	Button {
		width: 80%;
		background-color: #00a9ed;
	}