Page {
    margin-top: -5;
}
Label {
    horizontal-align: center;
    vertical-align: top;
}
TextField {
    width: 80%;
    height: 10%;
    margin-bottom: 5; 
    border-color: #fff;
    background-color: #fff;
    padding: 20;
    color: #222222;
}
Button.signup-btn {
    margin-top: 5;
    background-color: #00a9ed;
    height: 70;
    margin-bottom: 5;
    color: white;
}
Button.signin-btn {
    background-color: #fff;
    font-weight: 100;
    border-color: transparent;
    height: 70;
    margin-bottom: 5;
    color: #222222;
}
.action-bar {
    background-color: transparent;
    border-radius: 1;
    width: 0;
    height: 0;

}
.signin-title { font-size: 20 }
.signup-btn-label {
    color: white;
    font-size: 15;
    font-weight: 100;
    background-color: transparent;
}
.signin-btn-label {
    color: #222222;
    font-size: 15;
    font-weight: 100;
    background-color: transparent;
}
.footer {
	color: #808082;
	font-weight: 100;
	font-size: 20;
	vertical-align: bottom;
}
.error-container {
    width: 100%;
    margin: 0 10% 10 10%;
}
.error-msg {
    horizontal-align: left;
    margin-top: 0;
    padding-top: 0;
}