.action-bar {
	height: 50;
	width: 100%;
	padding: 5;
}
	.close-icon {
		height: 25;
		width: 25;
		margin-left: 10;
	}
.page {
	background-color: #fafafc;
}
	.lbl-1 {
		font-size: 23%;
	}
	.container {
		margin-top: 20;
		padding: 20;
	}
		TextField {
			height: 70;
			border-color: #fff;
			background-color: #fff;
			padding: 20;
			color: #222222;
			margin-bottom: 20;
		}
		.changepass-lbl {
			font-size: 15%;
		}
		Button {
			margin: 5 0;
		}
		.save-btn {
			color: white;
			background-color: #00a9ed;
		}