<StackLayout class="page">
	<GridLayout columns="*,auto" class="action-bar">
		<Image col="0" src="~/assets/icon/close-icon.png" class="close-icon align-left" (tap)="onClose()"></Image>
		<label col="0" text="Change Password" class="lbl-1 align-center text-center vertical-center font-black mp-0 font-medium"></label>
	</GridLayout>
	<StackLayout class="container">
		<Label text="Recent password" class="capitalize align-left mp-0 font-gray changepass-lbl"></Label>
		<TextField secure="true" [(ngModel)]="user.password" required></TextField>
		<Label text="New password" class="capitalize align-left mp-0 font-gray changepass-lbl"></Label>
		<TextField secure="true" [(ngModel)]="user.newPassword" required></TextField>

		<Button text="Save" class="save-btn yb-btn" (tap)="save()"></Button>
		<Button text="Cancel" class="yb-btn font-black bg-white" (tap)="onClose()"></Button>
	</StackLayout>
</StackLayout>